
* {
    font-family: 'Roboto', sans-serif;
}
.nav-color-css{
    color:  lightslategray;
}

.head-fonter{
    font-family: 'Grandstander', cursive;
   
}
.footer-fonter{
    font-family: 'Grandstander', cursive;
    color: tomato;

}
.li-color-css{
    color: lightyellow;;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-header h1{
    margin: 15px 5px 5px 55px;
}
.row-header h4{
    margin: 15px 5px 5px 55px;
}

.row-content{
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    
}
.row-pusher{
    margin: 40px 0px 20px 20px;
    border-bottom: 2px ridge;
}

.footer{
    background-color: lightslategray;
    color: lightyellow;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: lightslategray;
    color: lightyellow;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: lightsteelblue;
}
 a{
    color: black;
}
.address-color{
    color: black;
}
.ul-container{
    border: 3px ridge lightyellow;
    color: black;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}
.h2-container{
   border-bottom: 1px ridge black;
}
.color-ul{
    background-color: black;
}



.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: whitesmoke;
    background-color: cadetblue;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none !important;
    font-weight: bold;
}
.button-project{
    display: inline-block;
    padding: .50rem 1.00rem;
    border-radius: 10rem;
    color: whitesmoke;
    background-color: cadetblue;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none !important;
    font-weight: bold;
   
}
.button-project:hover{
    background: lightgrey;
    color: black;

}
.button:hover {
    background: lightgrey;
    color: black;
}
.card-circle{
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.card-circle-image{
    border-radius: 25px;
}
.gp-container{
    gap: 45px;
}
.card-text{
    height: 250px;
}
.objetive-statment{
    font-weight: bolder;
}
.tab-content {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.carousel {
    background-image: url("/images/main.jpg");
  }
  .first-item{
      
  }
  .carousel .carousel-item {
    height: 300px;
  }
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
  }
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
  }
  .carousel h2 {
    font-family: 'Montserrat', sans-serif;
  }
  .carousel p{
    font-family: 'Montserrat', sans-serif;
  }